[Desktop Entry]
Version=1.0
Name=Modern Mumble
GenericName=Modern Mumble
Comment=Modern Mumble Client
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;